<!DOCTYPE html>
<html lang="en">
{#{% load pwa %}#}
{#{% progressive_web_app_meta %}#}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>AWM CA 2023</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 90vh;
        }
    </style>
</head>

<body>
    <nav class="navbar" style="background-color: darkgreen;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #ffffff" href="{% url 'worldapp' %}">AWM 2023</a>
            <form class="d-flex">
                {% if user.is_authenticated %}
                    <!-- Logout Button -->
                    <a href="{% url 'logout' %}" class="btn ml-4" style="background-color: greenyellow">Logout</a>
                {% else %}
                    <!-- Login and Register Buttons -->
                    <a href="{% url 'login' %}" class="btn" style="background-color: greenyellow">Login</a>
                    <a href="{% url 'register' %}" class="btn " style="background-color: greenyellow">Register</a>
                {% endif %}
            </form>
        </div>
    </nav>

    <div id="map"></div>

    <footer class="text-center text-lg-start fixed-bottom" style="background-color: darkgreen;">
        <div class="text-center p-3" style="color: #ffffff">© 2023 Copyright: Michal Korneluk</div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

</body>

</html>
