{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="my-4">Search Results</h2>

    <form class="form-inline mb-3" method="get" action="{% url 'search_pubs' %}">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Pubs...">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
    </form>

    <form class="form-inline mb-3" method="get" action="{% url 'search_artists' %}">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Artists...">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
    </form>

    {% if pubs %}
      <div class="card mb-4">
        <div class="card-body">
          <h3>Matching Pubs</h3>
          <ul class="list-group list-group-flush">
            {% for pub in pubs %}
              <li class="list-group-item">
                {{ pub.name }}
                <!-- Display other pub details as needed -->
                <form method="post" action="{% url 'edit_pub' pub.id %}">
                  {% csrf_token %}
                  {{ pub.form.as_p }}
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% if artists %}
      <div class="card">
        <div class="card-body">
          <h3>Matching Artists</h3>
          <ul class="list-group list-group-flush">
            {% for artist in artists %}
              <li class="list-group-item">
                <h4>{{ artist.artistName }}</h4>
                {% for album in artist.album_set.all %}
                  <h5>Album: {{ album.albumName }}</h5>
                  {% for song in album.song_set.all %}
                    <p>Song:
                      <a href="#" onclick="document.getElementById('song{{ song.id }}').play()">
                        {{ song.songName }}
                      </a>
                    </p>
                    <audio id="song{{ song.id }}" src="{{ song.song.url }}"></audio>
                  {% endfor %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
