<button id="sidebar-button">☰</button>

<div id="sidebar">
    <ul>
        <li><a href="{% url 'worldapp' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile_settings' %}">Profile Settings</a></li>
            <li><a href="{% url 'discover' %}">Discover Artists</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'update' %}">Admin Update Events</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</div>

<script>
document.getElementById('sidebar-button').addEventListener('click', function() {
    var sidebar = document.getElementById('sidebar');
    var buttons = document.querySelectorAll('.search-button, .directions-button, .search-input');
    if (sidebar.style.width === '0px') {
        sidebar.style.width = '190px'; // Extend the sidebar
        sidebar.style.visibility = 'visible'; // Show the sidebar text
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.marginLeft = '100px'; // Move the buttons a little bit
        }
    } else {
        sidebar.style.width = '0px'; // Hide the sidebar
        sidebar.style.visibility = 'hidden'; // Hide the sidebar text
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.marginLeft = '0px'; // Move the buttons back
        }
    }
});
</script>
